{{ ansible_managed | comment }}

listenAddress: {{ nextcloud_exporter_listen_adress }}:{{ nextcloud_exporter_listen_port }}
timeout: {{ nextcloud_exporter_timeout }}
server: {{ nextcloud_exporter_server }}
username: {{ nextcloud_exporter_username }}
password: {{ nextcloud_exporter_password }}



